.footer {
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}

.app img {
    width: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.list {
    margin-bottom: 20px;
}

.list li {
    margin-bottom: 20px;
}

.list li a:hover {
    color: rgb(121, 121, 121);
}

.copyright {
    margin-bottom: 30px;
}

.footer .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .footer .list {
        grid-template-columns: repeat(2, 1fr); 
    }

    .app .img {
        height: 10px;
        width: 10px;
    }
}

@media (max-width: 480px) {
    .footer .list {
        grid-template-columns: 1fr; 
    }

    .app img {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    }

    .app {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        margin-bottom: 20px;
        gap: 6px;
    }
}