.footer {
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}

.app img {
    width: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.list {
    margin-bottom: 20px;
}

.list li {
    margin-bottom: 20px;
}

.list li a:hover {
    color: rgb(121, 121, 121);
}

.copyright {
    margin-bottom: 30px;
}

.footer .list {
    display: grid;
    grid-template-columns: auto auto auto auto;
}